
<article class="container-fluid text-center">

    <h1 class=" font-weight-bold text-center">Sobre mim:</h1>


    <div class="text-justify" style="font-size: 1.4em;">
      Olá,

      primeiramente fico feliz por estar aqui e queira saber um pouco mais sobre mim.

      bom.. me chamo luana, tenho 25 anos, nasci e cresci em São Paulo. tem alguma sugestão de conteudo ou tema? me mande aqui e melhorar esse esse blog.

      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, aut enim optio qui voluptate deserunt inventore nobis saepe odit excepturi aspernatur sapiente! Minima vero quo beatae hic rem sed optio!
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem veritatis eaque aut id adipisci inventore, saepe sit repellat ex error corrupti velit, deserunt, voluptates dolor officiis unde eveniet sint ratione?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, veniam. Ipsum fuga consequatur modi distinctio ea ad dignissimos ut! Modi officia placeat hic quia est voluptatibus consectetur libero nobis maxime.
    </div>


    <h1 class="font-weight-bold mt-5 mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit</h1>
    <section class="row">
    </section>
    <section class="row">
        <section class="col-md-12 mb-5">

            <img src="https://avatars.githubusercontent.com/u/98328512?v=4" alt="">

            <h3>Luana Assis</h3>
            <a href="https://www.linkedin.com/in/luanaassisi/" target="_blank"><i class="fa fa-linkedin-square fa-5x"
                    aria-hidden="true"></i></a>
            <a href="https://github.com/luanaassisi" target="_blank"><i class="ml-4 fa fa-github-square fa-5x"
                    aria-hidden="true"></i></a>
        </section>
    </section>
</article>