body{
  background:url("../../assets/img/background_inicio (2).png");
  background-repeat: no-repeat;
  background-size:100%;
  bottom: 0;
  color: black;
  left: 0;
  overflow-x: hidden;
  padding: 3em;
  right: 0;
  top: 0;
  background-size: cover;
}

form {
  color: rgb(65, 65, 65);
  background-color: rgb(228, 228, 228);
  border-radius: 5px;
  margin: auto;
  padding: 20px;
}
