<body>
  <div class="container-fluid">
    <div class=" row justify-content-center">
      <div class="col-md-5 mb-4 mt-5">
        <form class="form-group " action="">
          <h3 class="">Login</h3>
          <hr>
          <label for="email">Usuário:</label>
          <input class="form-control" type="email" [(ngModel)]="usuarioLogin.usuario" placeholder="Email" id="email"
            name="email">
  
          <label for="senha">Senha:</label>
          <input type="password" class="form-control" [(ngModel)]="usuarioLogin.senha" placeholder="Senha" id="senha"
            name="senha">
            <button type="submit" class="btn btn-success btn-lg btn-block mt-4" (click)="Entrar()">Entrar</button>
        
          <hr class="">
  
          <p class="text-center ">
            Não tem uma conta? <a routerLink="/cadastrar">Crie agora</a>
          </p>
        </form>
      </div>
      
    </div>
  </div>
</body>
